/* Only Mobile Screen */
@media only screen and (max-width: 26.75em) {
    .header__nav-lists {
        display: none;
    }

    .move__wrap-column {
        width: 100%;
    }

    .footer__wrap-column {
        width: 100%;
    }

    .social__link-to {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

}

/* Only Tablet Screen */
@media only screen and((min-width: 26.8125em) and (max-width: 55.25em)) {
    .common-flex {
        width: 50%;
    }
}

/* Only PC Screen */
@media only screen and (min-width: 55.3125em) {
    .blog__posts-items.tab {
        width: 25%;
    }
}

/* Tablet and PC screen */
@media only screen and (min-width: 26.8125em) {
    .header__nav-lists {
        display: block;
    }

    .header__menu {
        display: block;
    }

    .move__wrap-column {
        width: calc(100% / 3);
    }
}

/* Tablet and Mobile screen */
@media only screen and (max-width: 55.25em) {
    .header__menu {
        display: none;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
    }

    .blog__posts-items.mo {
        width: 100%;
    }
}

