/* Only Mobile Screen */
@media only screen and (max-width: 26.75em) {
    .header__nav {}

    .header__nav-lists {
        display: none;
    }

    .header__container,
    .tabs__wrapper,
    .banner__content,
    .top__arrivals,
    .top__arrivals-col.top__arrivals-col--second,
    .grid.grid--blogs {
        padding: 0;
    }

    .header__search-area {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .move__wrap-column,
    .footer__wrap-column {
        width: 100%;
    }

    .footer__wrap-column {
        width: 50%;
    }

    .footer__content-title {
        font-size: 1.4rem;
    }

    .footer__wrap-column .footer__wrap-content p {
        font-size: 1rem;
    }

    .footer__wrap-content .social__link-to {
        justify-content: flex-start;
    }

    .footer__wrap-content .social__link-to p {
        font-size: 1.2rem;
    }

    .social__link-to {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .featured__wrap,
    .banner__content,
    .top__arrivals,
    .blog__posts {
        padding: 0 6px;
    }

    .tabs__wrapper-items {
        width: 50%;
        padding: 0;
    }

    .tabs__wrapper .top__arrivals-col {
        width: 100%;
    }

    .tabs__nav {
        padding: 4px;
        margin-bottom: 0;
    }

    .tabs__nav li {
        display: block;
        width: 100%;
        text-align: left;
        border: 1px solid #ebebeb !important;
        margin: 0 0 10px 0 !important;
        padding: 10px 10px !important;
    }

    .banner__content-imgs {
        padding: 0 5px;
        margin-bottom: 0;
    }

    .top__arrivals,
    .blog__posts {
        margin-top: 42px;
    }

    .banner__content-imgs a,
    .top__arrivals-col {
        margin: 0;
    }

    .top__arrivals-col {
        padding: 5px;
    }

    .top__arrivals-col .top__arrivals-group .top__wrapper-items {
        padding: 5px 5px 8px 5px;
    }

    .blog__posts-items {
        padding: 0 5px;
        margin-bottom: 5px;
    }

}

/* Tablet and Mobile screen */
@media only screen and (max-width: 55.25em) {

    .header__menu {
        display: none;
    }

    .header__container {
        justify-content: space-between;
    }

    .tabs__wrapper-items {
        width: 50%;
        padding: 5px;
        margin-bottom: 3px;
    }

    .tabs__wrapper-links {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .blog__posts-items.mo {
        width: 100%;
    }
}

/* Only PC Screen */
@media only screen and (min-width: 55.3125em) {
    .blog__posts-items.tab {
        width: 25%;
    }
}

/* Tablet and PC screen */
@media only screen and (min-width: 26.8125em) {

    .menu-icon-on-mobile,
    .mobile-sign {
        display: none;
    }

    .header__nav-lists {
        display: block;
    }

    .move__wrap-column {
        width: calc(100% / 3);
    }

    .featured__wrap,
    .banner__content,
    .top__arrivals,
    .top__wrapper-items.quarter,
    .blog__posts {
        padding: 0;
    }

    .featured__wrap .tabs__nav {
        margin-bottom: 32px;
    }

    .banner__content {
        margin-top: 5px;
    }

    .banner__content-imgs a {
        margin: 0;
    }

    .banner__content-imgs:nth-child(1) a {
        margin: 0 5px;
        margin-left: 21px;
    }

    .banner__content-imgs:nth-child(2) a {
        margin: 0 5px;
        margin-right: 21px;
    }

    .top__arrivals-col {
        padding: 15px 5px;
    }

    .top__wrapper-items.item-1,
    .top__wrapper-items.item-3,
    .top__wrapper-items.item-5,
    .top__wrapper-items.item-7 {
        padding: 0 5px 0 0;
    }

    .top__wrapper-items.item-2,
    .top__wrapper-items.item-4,
    .top__wrapper-items.item-6,
    .top__wrapper-items.item-8 {
        padding: 0 0 0 5px;
        margin-bottom: 5px;
    }

    .top__wrapper-items.item-1,
    .top__wrapper-items.item-2,
    .top__wrapper-items.item-5,
    .top__wrapper-items.item-6 {
        margin-top: 0;
    }

    .top__wrapper-items.item-3,
    .top__wrapper-items.item-4,
    .top__wrapper-items.item-7,
    .top__wrapper-items.item-8 {
        margin-top: 3px;
    }

    .blog__posts-items {
        padding: 0 5px;
        margin-bottom: 8px;
    }

    .drawer {
        padding: 0 20px 20px;
    }

    .drawer--right {
        width: 400px;
        right: -400px;
    }

    body .drawer--right {
        transform: translate(-400px);
        transition: all ease .3s;
    }
}